{% extends "poetica_base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-4 border-0">
            {% block authentication_bar %}
            {% endblock %}
        </div>

        <div class="col-md-8 login_bg border-0">
            <br>

            <div class="login-heading-margin poetica-login">
                poetica (n)

                <span style="color:#7a7f99"> /po'edɪkə/</span><span>: a personalized poetry experience </span>

                <br><br><br><br>
            </div>
            <br><br><br><br><br><br>
            <div class="justify-content-center quote " style="text-align: center">
                    {{quote}}
            </div>

            <div class=" justify-content-center quote_author" style="text-align: center">
                —{{poet}}
            </div>
        </div>
    </div>
{% endblock %}