{% extends "navbar_base.html" %}

{% block title %}
    Discover
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-25 border-0 justify-content-center" style="height: 85vh;display: flex;align-items: center;">
          <a data-scroll href="#">
            <div class="left-arrow arrow"></div>
          </a>
      </div>
      <div class="col-md-50 border-0">
        <br>
         <div class="mleft-20 display-6">
             <br>
            reader, a poem for you...

        </div>
      </div>
      <div class="col-md-25 border-0 justify-content-center" style="height: 85vh;display: flex;align-items: center;">
          <a data-scroll href="#">
            <div class="right-arrow arrow"></div>
          </a>
      </div>
    </div>
{% endblock %}