{% extends "navbar_base.html" %}

{% block title %}
    Discover
{% endblock %}

{% block content %}
    <br><br>
    <div class="mleft-20 display-2">
        hello, reader.
    </div>
    <div class="mleft-20 display-6">
        to discover, please complete at least one of these fields.
    </div>
    <br>

    <div>
        <form method="post" action="{% url 'discover-quiz' %}">
            {{ form.non_field_errors }}
            <div class="form-group row">
                {{ form.poets.errors }}
                <label class="my-1 mr-2 mleft-23">what poets would you like to read from?</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.poets }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.emotions.errors }}
                <label class="my-1 mr-2 mleft-23">what emotions would you like to feel?</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.emotions }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.keywords.errors }}
                <label class="my-1 mr-2 mleft-23">would you like to see any specific keywords?</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.keywords }}
                </div>
            </div>
            {% csrf_token %}
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill form-btn-margin">view matching poems</button>
            <br><br>
        </form>
    </div>
{% endblock %}