{% extends "authentication_base.html" %}

{% block title %}
    Login
{% endblock %}

{% block authentication_bar %}
    <br>
    <a class="navbar-brand tinos-font" href="#">
        <img src="/static/media/logo.png" width="45" height="45" class="d-inline-block" alt="">
        poetica
    </a>
    <br><br><br><br><br>

    <div class="mleft-20 display-6">
        welcome, reader.
    </div>
    <br><br>

    <div class="form-group row">
        <label class="my-1 mr-2 mleft-23">username</label>
        <div class="col-sm-10 mleft-23">
            <input class="form-control" id="usernameForm" placeholder="">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="my-1 mr-2 mleft-23">password</label>
        <div class="col-sm-10 mleft-23">
            <input type="password" class="form-control" id="passwordForm">
        </div>
    </div>
    <br>

    <div class="col-sm-12 text-center">
        <button id="login_btn" class="btn btn-dark btn-md center-block" style="width: 100px;" >login</button>
        <a href="{% url 'register' %}" style="text-decoration:none;">
            <button id="register_btn" class="btn btn-dark btn-md center-block" style="width: 100px;" >register</button>
        </a>
    </div>
{% endblock %}