{% extends "authentication_base.html" %}

{% block title %}
    Login
{% endblock %}

{% block authentication_bar %}
    <br>
    <a class="navbar-brand tinos-font" href="#">
        <img src="/static/media/logo.png" width="45" height="45" class="d-inline-block" alt="">
        poetica
    </a>
    <br><br><br><br><br>

    <div class="mleft-20 display-6">
        welcome, reader.
    </div>
    <br><br>

    <div>
        <form method="post" action="{% url 'login' %}">
            {{ form.non_field_errors }}
            <div class="form-group row">
                {{ form.username.errors }}
                <label class="my-1 mr-2 mleft-23">username</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.username }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.password.errors }}
                <label class="my-1 mr-2 mleft-23">password</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.password }}
                </div>
            </div>
            <br>
            {% csrf_token %}
            <div class="col-sm-12 text-center">
                <button type="submit" id="login_btn" class="btn btn-dark btn-md center-block" style="width: 100px;" >login</button>
                <a href="{% url 'register' %}" style="text-decoration:none;">
                    <button type="button" id="register_btn" class="btn btn-dark btn-md center-block" style="width: 100px;" >register</button>
                </a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="/oauth/login/google-oauth2/" style="text-decoration:none;">
                    <button type="button" id="oauth_btn" class="btn btn-dark btn-md center-block" style="width: 100px;" >login with Google</button>
                </a>
            </div>
        </form>
    </div>
    
{% endblock %}