<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/static/style.css"  type="text/css" rel="stylesheet">
    <title>Poetica · Home</title>
    <link rel="icon" type="image/x-icon" href="/static/media/logo.png" >
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand tinos-font" href="#">
            <img src="/static/media/logo.png" width="45" height="45" class="d-inline-block" alt="">
            poetica
        </a>
        <div class="navbar-nav py-4">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item right-padding">
                    <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">upload</button>
                    <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">top poems</button>
                    <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">discover</button>
                    <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">random</button>
                    <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">profile</button>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>
    <div class="mleft-20 display-2">
        hello, reader.
    </div>
    <br><br>
    <div class="mleft-20 display-6">
        do you have a specific author or theme in mind? try
        <a class="link"> discover. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        if not, try
        <a class="link"> random poetry. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        want to add a poem to our database? try
        <a class="link"> upload. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        when all else fails... view
        <a class="link"> top liked. </a>
    </div>



</body>

</html>