{% extends "navbar_base.html" %}

{% block content %}
    <br><br>
    <div class="mleft-20 display-2">
        hello, reader.
    </div>
    <br><br>
    <div class="mleft-20 display-6">
        do you have a specific author or theme in mind? try
        <a class="link"> discover. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        if not, try
        <a class="link"> random poetry. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        want to add a poem to our database? try
        <a class="link"> upload. </a>
    </div>
    <br>
    <div class="mleft-20 display-6">
        when all else fails... view
        <a class="link"> top liked. </a>
    </div>
{% endblock %}