{% extends "navbar_base.html" %}

{% load tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-50 border-0">
        <br>
        <div class="mleft-20 display-6">
            <br>
            reader, a poem for you...
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-25 border-0 justify-content-center" style="display: flex;align-items: center;">
        <a data-scroll href="{% url 'left-arrow' %}">
            <div class="left-arrow arrow {{ arrow_color }}"></div>
        </a>
    </div>
    <div class="col-md-50 border-0">
        <div class="card border border-dark rounded-0 my-4 overflow-auto {{ emotion }}" style="height: 50vh">
            <div class="card-header border-0 align-self-end">
                <span style="display: inline-block; vertical-align: middle;"><a data-pin-do="buttonPin"
                                                                                data-pin-count="Select Pin count"
                                                                                data-pin-tall="true"
                                                                                href="{{ pin }}"></a></span>
                <span style="display: inline-block; vertical-align: middle;"><a data-scroll href="#"
                                                                                class="link-warning"
                                                                                style="text-decoration: none">
                        
                    {% if poem_id in request.user.profile.starred %}
                        <a href="{% url 'unstar' poem_id %}" style="text-decoration: none;" class="link-warning">
                            <i class="bi bi-star-fill" style="font-size: 30px;display: flex;"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'star' poem_id %}" style="text-decoration: none;" class="link-warning">
                            <i class="bi bi-star" style="font-size: 30px;display: flex;"></i>
                        </a>
                    {% endif %}
                </a></span>
                <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
            </div>
            <div class="card-body">
                <div class="card-title display-6 mx-3">
                    {{ poem.Title }}
                </div>
                <br>
                <div class="card-text display-7 mx-5 "
                     style="overflow-wrap: break-word !important; white-space: pre-wrap !important;">{{ poem.Poem }}
                </div>
                <br>
                <div class="card-title display-7 mx-6">
                    —{{ poem.Poet }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-25 border-0 justify-content-center" style="display: flex;align-items: center;">
        <a data-scroll href="{% url 'right-arrow' %}">
            <div class="right-arrow arrow {{ arrow_color }}"></div>
        </a>
    </div>
</div>
<br>

{% if not graph_display %}
<div class="row justify-content-center" id="emotion_form_div">


    <form method="post" action="{% url 'emotion-submit' poem_id%}" id="emotion_form">

        {% if form.non_field_errors %}
        <div class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
        </div>
        {%endif%}

        <div class="container">
            <div class="row align-items-center">
                <div class="form-group align-items-center">
                    {{ form.emotion.errors }}
                    <label class="my-1 mr-2 mleft-23 text-center">what emotion do you associate with this poem?</label>
                    <div class="col-sm-10 mleft-23">
                        {{ form.emotion }}
                    </div>
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill form-btn-margin">submit</button>
                </div>

            </div>
        </div>
    </form>
</div>
{%endif%}
<br>



{% if graph_display %}
<div class="center-screen container w-75" id="graph_div">
    <table class="charts-css column show-heading hide-data show-data-axes show-primary-axis show-labels"
    id="emotion-chart">

      <caption> here's what others thought... </caption>

      <thead>
        <tr>
          <th scope="col"> Emotions </th>
          <th scope="col"> # of Times Chosen </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row" class="small-th"> admiration </th>
          <td style="--size: calc( {{admirationgraph}} / {{topvoted}} );">
              {% if admirationgraph > 0 %}
              {{admirationgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> amusement </th>
          <td style="--size: calc( {{amusementgraph}} / {{topvoted}} );">
              {% if amusementgraph > 0 %}
              {{amusementgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> anger </th>
          <td style="--size: calc( {{angergraph}} / {{topvoted}} );">
              {% if angergraph > 0 %}
              {{angergraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> compassion </th>
          <td style="--size: calc( {{compassiongraph}} / {{topvoted}} );">
              {% if compassiongraph > 0 %}
              {{compassiongraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> contempt </th>
          <td style="--size: calc( {{contemptgraph}} / {{topvoted}} );">
              {% if contemptgraph > 0 %}
              {{contemptgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> contentment </th>
          <td style="--size: calc( {{contentmentgraph}} / {{topvoted}} );">
              {% if contentmentgraph > 0 %}
              {{contentmentgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> disappointment </th>
          <td style="--size: calc( {{disappointmentgraph}} / {{topvoted}} );">
              {% if disappointmentgraph > 0 %}
              {{disappointmentgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> disgust </th>
          <td style="--size: calc( {{disgustgraph}} / {{topvoted}} );">
              {% if disgustgraph > 0 %}
              {{disgustgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> fear </th>
          <td style="--size: calc( {{feargraph}} / {{topvoted}} );">
              {% if feargraph > 0 %}
              {{feargraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> interest </th>
          <td style="--size: calc( {{interestgraph}} / {{topvoted}} );">
              {% if interestgraph > 0 %}
              {{interestgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> joy </th>
          <td style="--size: calc( {{joygraph}} / {{topvoted}} );">
              {% if joygraph > 0 %}
              {{joygraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> love </th>
          <td style="--size: calc( {{lovegraph}} / {{topvoted}} );">
              {% if lovegraph > 0 %}
              {{lovegraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> pride </th>
          <td style="--size: calc( {{pridegraph}} / {{topvoted}} );">
              {% if pridegraph > 0 %}
              {{pridegraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> regret </th>
          <td style="--size: calc( {{regretgraph}} / {{topvoted}} );">
              {% if regretgraph > 0 %}
              {{regretgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> relief </th>
          <td style="--size: calc( {{reliefgraph}} / {{topvoted}} );">
              {% if reliefgraph > 0 %}
              {{reliefgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> sadness </th>
          <td style="--size: calc( {{sadnessgraph}} / {{topvoted}} );">
              {% if sadnessgraph > 0 %}
              {{sadnessgraph}}
              {%endif%}
          </td>
        </tr>
        <tr>
          <th scope="row" class="small-th"> shame </th>
          <td style="--size: calc( {{shamegraph}} / {{topvoted}} );">
              {% if shamegraph > 0 %}
              {{shamegraph}}
              {%endif%}
          </td>
        </tr>

      </tbody>

    </table>

</div>
{%endif%}



<div class="container my-5 py-5 " >

    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">

            <div class="card">

                <div class="card-body p-4">
                    <h4 class="text-center mb-4 pb-2">
                        <div class="card-header border-0 align-self-end transparent-bar">
                            <span style="display: inline-block; vertical-align: middle;"><h4> comments </h4></span>
                            <span style="display: inline-block; vertical-align: middle;">
                                <a class="text-decoration-none" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-chevron-compact-down {{ arrow_color }}" style="font-size: 30px;display: flex;"></i>
                                </a>
                            </span>
                        </div>
                    </h4>

                    <div class="row collapse" id="collapseExample">
                        <div class="col">
                            <form method="post" action="{% url 'comment' poem_id %}">
                                <div class="d-flex flex-start" id="comment-box">
                                    {% if not user.profile.profile_picture %}
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="/static/media/dummypfp.png" alt="avatar"
                                             width="65"
                                             height="65"/>
                                    {% else %}
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="{% url 'photo' user.id %}" alt="avatar"
                                             width="65"
                                             height="65"/>
                                    {% endif %}
                                    <div class="flex-grow-1 flex-shrink-1 ">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1" id="comment-box-name">
                                                    {{ user.username }}
                                                </p>
                                            </div>
                                            <textarea name="comment-input" class="form-control" rows="4"></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill">comment</button>
                                        </div>
                                    </div>
                                </div>
                                {% csrf_token %}
                            </form>

                            <br>
                            
                            {% for comment_block in comments %}
                                <div class="d-flex flex-start" id="comment-section-{{comment_block.comment.id}}">
                                    <a class="me-3" href="{% url 'other-profile' comment_block.comment.user.id %}" id="profile-pic-comment-{{comment_block.comment.id}}">
                                        {% if not comment_block.comment.user.profile.profile_picture %}
                                            <img class="rounded-circle shadow-1-strong"
                                                 src="/static/media/dummypfp.png" alt="avatar"
                                                 width="65" height="65"/>
                                        {% else %}
                                            <img class="rounded-circle shadow-1-strong"
                                                 src="{% url 'photo' comment_block.comment.user.id %}" alt="avatar"
                                                 width="65" height="65"/>
                                        {% endif %}
                                    </a>
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div id="comment-{{comment_block.comment.id}}">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1" id="comment-box-name-{{comment_block.comment.id}}">
                                                    {{comment_block.comment.user.username}} <span class="small" id="comment-time-{{comment_block.comment.id}}">- {{comment_block.comment.creation_time|date:"n/j/Y g:i A"}}</span>
                                                </p>
                                            </div>
                                            <p class="small mb-0" id="comment-text-{{comment_block.comment.id}}">
                                                {{comment_block.comment.comment_text}}
                                            </p>
                                        </div>
    
                                        {% for reply in comment_block.replies %}
                                            <div class="d-flex flex-start mt-4" id="reply-{{reply.id}}">
                                                <a class="me-3" href="{% url 'other-profile' reply.user.id %}" id="profile-pic-reply-{{reply.id}}">
                                                    {% if not reply.user.profile.profile_picture %}
                                                        <img class="rounded-circle shadow-1-strong"
                                                             src="/static/media/dummypfp.png" alt="avatar"
                                                             width="65" height="65"/>
                                                    {% else %}
                                                        <img class="rounded-circle shadow-1-strong"
                                                             src="{% url 'photo' reply.user.id %}" alt="avatar"
                                                             width="65" height="65"/>
                                                    {% endif %}
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1" id="reply-name-{{reply.id}}">
                                                                {{reply.user.username}} <span class="small" id="reply-time-{{reply.id}}">- {{reply.creation_time|date:"n/j/Y g:i A"}}</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0" id="reply-text-{{reply.id}}">
                                                            {{reply.reply_text}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <form method="post" action="{% url 'reply' comment_block.comment.id %}">
                                            <div class="d-flex flex-start mt-4" id="reply-box-{{reply.id}}">
                                                <div class="me-3" id="profile-pic-reply-box-{{reply.id}}">
                                                    {% if not user.profile.profile_picture %}
                                                        <img class="rounded-circle shadow-1-strong"
                                                             src="/static/media/dummypfp.png" alt="avatar"
                                                             width="65" height="65"/>
                                                    {% else %}
                                                        <img class="rounded-circle shadow-1-strong"
                                                             src="{% url 'photo' user.id %}" alt="avatar"
                                                             width="65" height="65"/>
                                                    {% endif %}
                                                </div>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1" id="reply-box-profile-{{reply.id}}">
                                                                {{user.username}}
                                                            </p>
                                                        </div>
                                                        <textarea name="reply-input" class="form-control" rows="4"></textarea>
                                                        <br>
                                                        <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill">reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% csrf_token %}
                                        </form>
                                        <br>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr-->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


{% endblock %}