{% extends "navbar_base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <br><br>

    <div class="d-flex mb-4 mleft-20">
        <div class="flex-shrink-0">
            <img src="/static/media/dummypfp.png"
                 class="rounded-circle"
              style="width: 200px;height:200px;">
        </div>

        <div class="flex-grow-1 ms-3 mleft-20 display-5" >
            username
            <br>
            <div class="form-group mright-20">
                <textarea class="form-control" id="user_bio_area" rows="5" placeholder="your bio here"></textarea>
            </div>
            <button type="button" class="btn btn-dark btn-lg btn-space rounded-pill">update profile</button>
        </div>
    </div>

    <br><br>
    <div class="mleft-20 display-6"> username's saved poetry </div>
    <br>

    <div class="mleft-20">
        <ul>
           <img src="/static/media/saved_poem_dummy_icon.png" class="icons img-cover">
            &nbsp; "One Art" — Elizabeth Bishop
        </ul>

        <ul>
           <img src="/static/media/saved_poem_dummy_icon.png" class="icons img-cover">
            &nbsp; "Song of Myself" — Walt Whitman
        </ul>

        <ul>
           <img src="/static/media/saved_poem_dummy_icon.png" class="icons img-cover">
            &nbsp; "Bell Jar" — Sylvia Plath
        </ul>
    </div>
{% endblock %}