{% extends "navbar_base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <br><br>

    <div class="d-flex mb-4 mleft-20">
        
        <div class="flex-shrink-0">
            <form enctype="multipart/form-data" action="{% url 'profile' %}" method="post">
                {{ picform.non_field_errors }}
                <div class="profilepic-container" style="width: 200px;height:200px;">
                    <div class="profilepic">
                        {% if not profile.profile_picture %}
                            <img src="/static/media/dummypfp.png" class="rounded-circle" style="width: 200px;height:200px;">
                        {% else %}
                            <img src="{% url 'photo' profile.user.id %}" class="rounded-circle" style="width: 200px;height:200px;">
                        {% endif %}
                        {{ picform.profile_picture.errors }}
                        {{ picform.profile_picture }}
                        <label for="id_profile_picture" class="editprofile">
                            <i class="bi bi-camera" style="font-size: 30px;display: flex;position: absolute;top: 12px; left: 13px;"></i>
                        </label>
                        {% csrf_token %}
                    </div>
                </div>
            </form>
        </div>
        <div class="flex-grow-1 ms-3 mleft-20 display-5">
            {{profile.user.username}}
            <br>
            <form enctype="multipart/form-data" action="{% url 'profile' %}" method="post">
                {{ bioform.non_field_errors }}
                <div class="form-group mright-20">
                    {{ bioform.bio.errors }}
                    {{ bioform.bio }}
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill" name="update-bio">update bio</button>
            </form>
        </div>
    </div>

    <br><br>
    <div class="mleft-20 display-6"> {{profile.user.username}}'s saved poetry </div>
    <br>

    <div class="mleft-20">
        {% for poem in starred %}
            <ul>
                <i class="bi bi-square-fill {{ poem.emotion }}"></i>
<!--                <img src="/static/media/saved_poem_dummy_icon.png" class="icons img-cover">-->
                &nbsp; "{{ poem.Title }}" — {{ poem.Poet }}
            </ul>
        {% endfor %}
    </div>
{% endblock %}