{% extends "authentication_base.html" %}

{% block title %}
    Register
{% endblock %}

{% block authentication_bar %}
    <br>
    <a class="navbar-brand tinos-font" href="#">
        <img src="/static/media/logo.png" width="45" height="45" class="d-inline-block" alt="">
        poetica
    </a>
    <br><br><br><br>

    <div class="mleft-20 display-6">
        welcome, reader.
    </div>
    <br>
    
    <div>
        <form method="post" action="{% url 'register' %}">
            {{ form.non_field_errors }}
            <div class="form-group row">
                {{ form.email.errors }}
                <label class="my-1 mr-2 mleft-23">email</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.email }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.username.errors }}
                <label class="my-1 mr-2 mleft-23">username</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.username }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.password.errors }}
                <label class="my-1 mr-2 mleft-23">password</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.password }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.confirm_password.errors }}
                <label class="my-1 mr-2 mleft-23">confirm password</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.confirm_password }}
                </div>
            </div>
            {% csrf_token %}
            <br>
            <div class="col-sm-12 text-center">
                <button type="submit" id="register_btn" class="btn btn-dark btn-md center-block" style="width: 100px;">sign up</button>
            </div>
            <br>    
        </form>
    </div>
    
    <div class="text-center">
        already have an account?
        <a href="{% url 'login' %}" class="link"> login. </a>
    </div>
{% endblock %}
