{% extends "navbar_base.html" %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
    <br><br>
    <div class="mleft-20 display-2">
        hello, reader.
    </div>
    <div class="mleft-20 display-6">
        to upload a poem, please complete the following fields.
    </div>
    <br>

    <div>
        <form method="post" action="{% url 'upload-poem' %}">
            {{ form.non_field_errors }}
            <div class="form-group row">
                {{ form.title.errors }}
                <label class="my-1 mr-2 mleft-23">title</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.title }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.poem.errors }}
                <label class="my-1 mr-2 mleft-23">poem</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.poem }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.author.errors }}
                <label class="my-1 mr-2 mleft-23">author</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.author }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                {{ form.emotion.errors }}
                <label class="my-1 mr-2 mleft-23">what emotion do you associate with this poem?</label>
                <div class="col-sm-10 mleft-23">
                    {{ form.emotion }}
                </div>
            </div>
            <br>
            {% csrf_token %}
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg btn-space rounded-pill form-btn-margin">view matching poems</button>
            <br><br>
        </form>
    </div>
{% endblock %}