@font-face {
  font-family: BodoniModa;
  src: url('bodonimoda.ttf');
}

body {
    font-family: BodoniModa;
    background-color: #f7f7ff;
}

/* star */
.bi-star:hover:before {
    content: "\F586";
}

/* purple button */
.btn-dark {
    --bs-btn-font-size: 1rem;
    --bs-btn-color: black;          /* black font */
    --bs-btn-bg: #e6d6fe;           /* light purple bg */
    --bs-btn-hover-color: black;    /* black font hover */
    --bs-btn-hover-bg: #d4bbfa;     /* darker purple hover */
}

/* entire navbar background*/
.navbar {
    background-image: url("media/nav_bg.png");
}

/* navbar logo padding */
.navbar-brand {
    padding: 0.5em;
    font-size: 30px;
}

/* right-pad a block element */
.right-padding {
    padding-right: 1em !important;
}

/* right-pad button */
.btn-space {
    margin-right: 0.25em;
}

.mx-6 {
    margin-left: 7rem !important;
    margin-right: 7rem !important;
}

.mleft-20 {
    padding-left: 4rem !important;
}

.mleft-23 {
    padding-left: 5rem !important;
}

.mright-20 {
    padding-right: 4rem !important;
}

.login-heading-margin {
    padding-left: 2rem !important;
}

.link {
    color: #cc9cfb;
}

.link:hover {
    color: #8c32fa;
}

.form-btn-margin {
    margin-left: 67vw;
}

.form-control:focus {
    border-color: #cc9cfb;
    background-image: url('media/nav_bg.png');
}

.login_bg {
    height: 1000px;
    background-image: url('media/test.png');
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

.display-6 {
    font-size: 30px;
}

.display-7 {
    font-size: 20px !important;
}

.poetica-login {
    font-size: 21px;
}

.quote {
    font-size: 30px;
}

.quote_author {
    font-size: 23px !important;
    font-style: italic !important;
}

.transparent-bar {
    background-color: transparent !important;
}

.icons {
    width: 40px;
    height: 40px;
}

.col-md-25 {
    width: 25%;
    flex: 0 0 auto;
}

.col-md-50 {
    width: 50%;
    flex: 0 0 auto;
}

.left-arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-width: 0px 4px 4px 0px;
  transform: rotate(135deg);
}

.right-arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-width: 0px 4px 4px 0px;
  transform: rotate(-45deg);
}

.arrow:hover {
  border-bottom-width: 6px;
  border-right-width: 6px;
}

.break-card {
    width: 20px !important;
    word-wrap: break-word !important;
}

.card {
    max-width: 100%;

}
.card-text {
    word-wrap: break-word;
}

.profilepic-container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.profilepic {
    width: 100% !important;
    height: 100% !important;
    max-width: 200px !important;
    max-height: 200px !important;
    margin: auto;
    position: relative;
}

.editprofile {
    background-color: #e6d6fe;
    border-style: solid;
    border-width: 2px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.editprofile:hover {
    background-color: #d4bbfa;
}

/* background images related to emotions */
.fear {
    background-image: url('media/poem_bg/fear.jpg');
    background-size: cover;
}

.sadness {
    background-image: url('media/poem_bg/sadness.jpg');
    background-size: cover;
}

.love {
    background-image: url('media/poem_bg/love.jpg');
    background-size: cover;
}

.contempt {
    background-image: url('media/poem_bg/contempt.jpg');
    background-size: cover;
}

.disappointment {
    background-image: url('media/poem_bg/disappointment.jpg');
    background-size: cover;
}

.admiration {
    background-image: url('media/poem_bg/admiration.jpg');
    background-size: cover;
}

.amusement {
    background-image: url('media/poem_bg/amusement.jpg');
    background-size: cover;
}

.anger {
    background-image: url('media/poem_bg/anger.jpg');
    background-size: cover;
}

.contentment {
    background-image: url('media/poem_bg/contentment.jpg');
    background-size: cover;
}

.disappointment {
    background-image: url('media/poem_bg/disappointment.jpg');
    background-size: cover;
}

.disgust {
    background-image: url('media/poem_bg/disgust.jpg');
    background-size: cover;
}

.interest {
    background-image: url('media/poem_bg/interest.jpg');
    background-size: cover;
}

.joy {
    background-image: url('media/poem_bg/joy.jpg');
    background-size: cover;
}

.pride {
    background-image: url('media/poem_bg/pride.jpg');
    background-size: cover;
}

.regret {
    background-image: url('media/poem_bg/regret.jpg');
    background-size: cover;
}

.relief {
    background-image: url('media/poem_bg/relief.jpg');
     background-size: cover;
}

.compassion {
    background-image: url('media/poem_bg/compassion.jpg');
    background-size: cover;
}

.shame {
    background-image: url('media/poem_bg/shame.jpg');
    background-size: cover;
}

/* background color for arrows related to emotions */
.fear-arrow {
  border-color: #747CBA !important;
}

.sadness-arrow {
  border-color: #818995 !important;
}

.love-arrow {
  border-color: #CBA5AD !important;
}

.contempt-arrow {
  border-color: #A44136 !important;
}

.disappointment-arrow {
  border-color: #D59B86 !important;
}

.admiration-arrow {
  border-color: #BCBAC7 !important;
}

.amusement-arrow {
  border-color: #E59266 !important;
}

.anger-arrow {
  border-color: #C0433C !important;
}

.contentment-arrow {
  border-color: #695F87 !important;
}

.disappointment-arrow {
  border-color: #D19B88 !important;
}

.disgust-arrow {
  border-color: #A5B68E !important;
}

.interest-arrow {
  border-color: #BEC1CE !important;
}

.joy-arrow {
  border-color: #9FAFA0 !important;
}

.pride-arrow {
  border-color: #B39C8B !important;
}

.regret-arrow {
  border-color: #565169 !important;
}

.relief-arrow {
  border-color: #DB8E9E !important;
}

.compassion-arrow {
  border-color: #B26D3E !important;
}

.shame-arrow {
  border-color: #E6C286 !important;
}

/* color for down arrow links */
.fear-arrow {
  color: #747CBA !important;
}

.sadness-arrow {
  color: #818995 !important;
}

.love-arrow {
  color: #CBA5AD !important;
}

.contempt-arrow {
  color: #A44136 !important;
}

.disappointment-arrow {
  color: #D59B86 !important;
}

.admiration-arrow {
  color: #BCBAC7 !important;
}

.amusement-arrow {
  color: #E59266 !important;
}

.anger-arrow {
  color: #C0433C !important;
}

.contentment-arrow {
  color: #695F87 !important;
}

.disappointment-arrow {
  color: #D19B88 !important;
}

.disgust-arrow {
  color: #A5B68E !important;
}

.interest-arrow {
  color: #BEC1CE !important;
}

.joy-arrow {
  color: #9FAFA0 !important;
}

.pride-arrow {
  color: #B39C8B !important;
}

.regret-arrow {
  color: #565169 !important;
}

.relief-arrow {
  color: #DB8E9E !important;
}

.compassion-arrow {
  color: #B26D3E !important;
}

.shame-arrow {
  color: #E6C286 !important;
}



