@font-face {
  font-family: BodoniModa;
  src: url('bodonimoda.ttf');
}

body {
    font-family: BodoniModa;
    background-color: #f7f7ff;
}

/* star */
.bi-star:hover:before {
    content: "\F586";
}

/* purple button */
.btn-dark {
    --bs-btn-font-size: 1rem;
    --bs-btn-color: black;          /* black font */
    --bs-btn-bg: #e6d6fe;           /* light purple bg */
    --bs-btn-hover-color: black;    /* black font hover */
    --bs-btn-hover-bg: #d4bbfa;     /* darker purple hover */
}

/* entire navbar background*/
.navbar {
    background-image: url("media/nav_bg.png");
}

/* navbar logo padding */
.navbar-brand {
    padding: 0.5em;
    font-size: 30px;
}

/* right-pad a block element */
.right-padding {
    padding-right: 1em !important;
}

/* right-pad button */
.btn-space {
    margin-right: 0.25em;
}

.mx-6 {
    margin-left: 7rem !important;
    margin-right: 7rem !important;
}

.mleft-20 {
    padding-left: 4rem !important;
}

.mleft-23 {
    padding-left: 5rem !important;
}

.mright-20 {
    padding-right: 4rem !important;
}

.login-heading-margin {
    padding-left: 2rem !important;
}

.link {
    color: #cc9cfb;
}

.link:hover {
    color: #8c32fa;
}

.form-btn-margin {
    margin-left: 67vw;
}

.form-control:focus {
    border-color: #cc9cfb;
    background-image: url('media/nav_bg.png');
}

.login_bg {
    height: 1000px;
    background-image: url('media/test.png');
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

.display-6 {
    font-size: 30px;
}

.display-7 {
    font-size: 20px !important;
}

.poetica-login {
    font-size: 21px;
}

.quote {
    font-size: 30px;
}

.quote_author {
    font-size: 23px !important;
    font-style: italic !important;
}

.icons {
    width: 40px;
    height: 40px;
}

.col-md-25 {
    width: 25%;
    flex: 0 0 auto;
}

.col-md-50 {
    width: 50%;
    flex: 0 0 auto;
}

.left-arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #d4bbfa;
  border-width: 0px 4px 4px 0px;
  transform: rotate(135deg);
}

.right-arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #d4bbfa;
  border-width: 0px 4px 4px 0px;
  transform: rotate(-45deg);
}

.arrow:hover {
  border-bottom-width: 6px;
  border-right-width: 6px;
}

.break-card {
    width: 20px !important;
    word-wrap: break-word !important;
}

